Source: libdisplaycore-driver-ssd1306
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-driver-ssd1306
Section: main
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Drivers
Depends: libdisplaycore-core
Recommends: libdisplaycore-driver-ssd1306-dspi, libdisplaycore-driver-ssd1306-pmod
Provides: SSD1306.h
Description: SSD1306 Base Driver
 This is the base driver for all SSD1306 OLED displays.  It provides
 the core logic and control but no physical interface implementation.
 .
 You need, also, one (or multiple) of the additional SSD1306_* drivers
 (such as SSD1306_DSPI, SSD1306_PMOD or SSD1306_DTWI).

